{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="particles-js"></div>

    <div class="image-container">
        <img src="{% static 'images/logo_ferreteria.png' %}" alt="Canasta de productos">
    </div>

    <div class="input-section">
        <input type="text" id="producto" placeholder="Ingresa el código">
        <button onclick="verificarPrecio()">Verificar Precio</button>
    </div>

    <div id="resultado" class="resultado-cuadro"></div>

    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
    <script>
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 100,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle"
                },
                "opacity": {
                    "value": 0.5,
                    "random": false
                },
                "size": {
                    "value": 3,
                    "random": true
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3
                }
            }
        });
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
