.card {
    border-radius: 14px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0);
}

.card-header {
    background-color: #9b0707;
    border-radius: 10px;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/img/back1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

html::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

* {
    position: relative;
    z-index: 1;
}

.login-page {
    background-color: transparent;
}        .card {
    border-radius: 14px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0);
}
